# ==========================================
# Dependencias y logs
# ==========================================
node_modules/
backend/node_modules/
core/node_modules/
core/vendor/
npm-debug.log
yarn-error.log

# ==========================================
# Credenciales y variables de entorno (¡VITAL!)
# ==========================================
.env
*.env
backend/.env
core/.env
core/.env.backup
core/.env.production
firebase-adminsdk.json

# ==========================================
# Almacenamiento Pesado (Servidores y Bases de Datos)
# ==========================================
backend/servers/
data/
backend/data/
*.zip
*.jar

# ==========================================
# Archivos del Sistema
# ==========================================
.DS_Store
*.sqlite
Thumbs.db